<section class="col-sm-10 mx-auto rounded " style=" background-color: #eee6d3">
    <h1 class="text-center p-5 rounded" style=" background-color: #cec5b1">Dashboard Adiministrador</h1>
    <div class="mb-3 p-5">
        <div class="row mb-4">
            <div class="col-sm-4 mb-3 mb-sm-0">
                <div class="card">
                    <h5 class="card-header">Ver lista de produtos</h5>

                    <div class="card-body">

                        <p class="card-text">Aqui voce pode adicionar, visualizar, editar e apagar os produtos.</p>
                        <a href="#" class="btn btn-secondary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 mb-3 mb-sm-0">
                <div class="card">
                    <h5 class="card-header">Ver lista de produtos</h5>

                    <div class="card-body">

                        <p class="card-text">Aqui voce pode adicionar, visualizar, editar e apagar os produtos.</p>
                        <a href="#" class="btn btn-secondary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 mb-3 mb-sm-0">
                <div class="card">
                    <h5 class="card-header">Ver lista de produtos</h5>

                    <div class="card-body">

                        <p class="card-text">Aqui voce pode adicionar, visualizar, editar e apagar os produtos.</p>
                        <a href="#" class="btn btn-secondary">Go somewhere</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mb-5">
            <div class="col-sm-4 mb-3 mb-sm-0">
                <div class="card">
                    <h5 class="card-header">Ver lista de produtos</h5>

                    <div class="card-body">

                        <p class="card-text">Aqui voce pode adicionar, visualizar, editar e apagar os produtos.</p>
                        <a href="#" class="btn btn-secondary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 mb-3 mb-sm-0">
                <div class="card">
                    <h5 class="card-header">Ver lista de produtos</h5>

                    <div class="card-body">

                        <p class="card-text">Aqui voce pode adicionar, visualizar, editar e apagar os produtos.</p>
                        <a href="#" class="btn btn-secondary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 mb-3 mb-sm-0">
                <div class="card">
                    <h5 class="card-header">Ver lista de produtos</h5>

                    <div class="card-body text-center">

                        <p class="card-text">Aqui voce pode adicionar, visualizar, editar e apagar os produtos.</p>
                        <a href="#" class="btn btn-secondary ">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>




</section>