<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="">
  <footer style="background-color: #eee6d3" class="pt-4">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4">
          <h5 class="mb-3 text-dark">Livraria Cultura</h5>
          <p style="font-family: Popins-regular;">
            Explore o universo da leitura na Livraria Cultura: seu destino
            literário online 100% automático. Com uma seleção diversificada de
            livros para todos os gostos, somos o paraíso dos amantes da leitura.
            Encontre sua próxima aventura entre nossas páginas e mergulhe em um
            mundo de conhecimento e imaginação.
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="mb-3 text-dark">Links Úteis</h5>
          <ul class="list-unstyled mb-0">
            <li class="mb-1">
              <a href="#!" style="color: #4f4f4f">Cadastro</a>
            </li>
            <li class="mb-1">
              <a href="#!" style="color: #4f4f4f">Meu Perfil</a>
            </li>
            <li class="mb-1">
              <a href="#!" style="color: #4f4f4f">Nossos produtos</a>
            </li>
            <li>
              <a href="#!" style="color: #4f4f4f">Sobre nós</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="mb-1 text-dark">participantes da iniciativa</h5>
          <table class="table" style="border-color: #666">
            <tbody>
              <tr>
                <td>Júlia Tatim</td>
                <td>André Alija</td>
              </tr>
              <tr>
                <td>Laura Santos</td>
                <td>Luana Akemi</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2024 Copyright:
      <a
        class="text-dark"
        href="https://https://github.com/luana-akemi-sakurada/Livraria"
        >Livraria Cultura</a
      >
    </div>
  </footer>
</div>
