<section>
  <div class="container-fluid my-5">
    <div class="row">
      <h2 class="text-center">Promoções da semana!</h2>
    </div>
  </div>
  <div class="container-do-card">
    <div class="card-origin">
      <img
        src="./../../assets/imgs/misto.jpeg"
        alt="livro 1"
        style="width: 300px"
        class="img-card"
      />
      <div class="conteudo">
        <h3 class="titulo-livro">Misto quente</h3>
        <h5 class="text-body-tertiary text">
          Charles Bukowski - <span class="text-danger">realista</span>
        </h5>
        <p class="descricao-livro">
          "Misto Quente" de Charles Bukowski é uma narrativa visceral que
          retrata a crueza da vida nos subúrbios de Los Angeles durante a Grande
          Depressão, explorando a amizade, o desespero e a busca por redenção
          através das experiências de seus personagens marcantes.
        </p>
        <p class="text text-success">R$ 15,90</p>
        <a href="#" class="btn btn-primary">Adicionar aos interesses</a>
      </div>
    </div>
  </div>
  <div class="container-do-card">
    <div class="card-origin">
      <img
        src="../../assets/imgs/dostoievski.jpeg"
        alt="livro 2"
        style="width: 300px"
        class="img-card"
      />
      <div class="conteudo">
        <h3 class="titulo-livro">Memórias do Subsolo</h3>
        <h5 class="text-body-tertiary text">
          Fiódor Dostoiévski -
          <span class="text-danger">Romance psicológico</span>
        </h5>
        <p class="descricao-livro">
          "Memórias do Subsolo" é uma obra-prima de Fiódor Dostoiévski que
          mergulha nas profundezas da psique humana, explorando temas como
          alienação, angústia existencial e a busca por significado em meio à
          sociedade.
        </p>
        <p class="text text-success">R$ 17,90</p>
        <a href="#" class="btn btn-primary">Adicionar aos interesses</a>
      </div>
    </div>
  </div>
  <div class="container-do-card">
    <div class="card-origin">
      <img
        src="../../assets/imgs/habitos.jpeg"
        alt="livro 3"
        style="width: 300px"
        class="img-card"
      />
      <div class="conteudo">
        <h3 class="titulo-livro">Hábitos Atômicos</h3>
        <h5 class="text-body-tertiary text">
          James Clear - <span class="text-danger">Auto ajuda</span>
        </h5>
        <p class="descricao-livro">
          "Hábitos Atômicos" de James Clear é um guia revolucionário que explora
          a ciência por trás da formação de hábitos, oferecendo insights
          práticos e estratégias poderosas para transformar vidas através da
          mudança de comportamento.
        </p>
        <p class="text text-success">R$ 10,90</p>
        <a href="#" class="btn btn-primary">Adicionar aos interesses</a>
      </div>
    </div>
  </div>
</section>
