<nav class="navbar navbar-expand-lg bg-body-tertiary mb-0" data-bs-theme="dark">
  <div class="container">
    <img class="navbar-brand logo-livraria" src="../../assets/imgs/logo.png" alt="logo">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink ="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink ="/explorar">Explorar livros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/sobre">Sobre nós</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/contato">Nossos contatos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/perfil">Perfil</a>
        </li>
      </ul>
      <form class="d-flex" role="signup">
        <a routerLink="/login"><button class="btn btn-outline-secondary btn-sm"  type="login">Login</button></a>
        <div class="ms-2"></div>
        <a routerLink="/cadastro"><button class="btn btn-outline-light btn-sm" type="signup">Cadastro</button></a>
      </form>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
