<ng-container *ngIf="true">
    <div class="container">
      <div class="card-table">
        <div class="cart-product">
          <table class="table table-responsive">
            <thead>
              <tr> 
                <th>Nome</th>
                <th>Imagem</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th>Total</th>
                <th>Ação</th>
              </tr>
            </thead>
            <tbody *ngFor="let livro of forms">
              <td ><input type="text" [formControl]="livro.controls.nome" [readonly]="!livro.controls.isEditing.value"></td>
              <td><img src={{livro.controls.imagem.value}} style="height: 120px;"></td>
              <td><input type="text" [formControl]="livro.controls.sinopse" [readonly]="!livro.controls.isEditing.value"></td>
              <td><input type="text" [formControl]="livro.controls.preco" [readonly]="!livro.controls.isEditing.value"></td>
              <td>
                <button class="btn btn-danger" (click)="deletarLivro(livro.controls.key.value)">Excluir</button>
              </td>
              <td>
                <button class="btn btn-danger" (click)="atualizarLivro(livro.controls.key.value, livro)">{{livro.controls.isEditing.value ? 'Salvar' : 'Editar' }}</button>
              </td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-container>
  