<div class="conteudo">
    <h1 class="titulo">Nossos contatos</h1>
    <div class="conteudo-sobre-nos">
        <div class="imagem">
            <img src="../../assets/imgs/fundo.png">
        </div>
        <div class="content-texto">
            <p class="texto">Telefone suporte do usuário</p>
            <p class="texto-sub">+55(41) 923476599</p>
        </div>
        <div class="content-texto">
            <p class="texto">Email suporte do usuário</p>
            <p class="texto-sub">suportelivrariacultura&#64;gmail.com</p>
        </div>
    </div>
</div>