.carrinho-compra {
  width: 21px;
  height: 28px;
}

.div-carrinho {
  width: 65px;
  justify-content: center;
  background: transparent;
  border: transparent;
  align-items: center;
}

.divisao-formulario {
  width: 80%;
}

.imagem{
  width: 220px;
  padding-top: 10px;
}

.div-imagem{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-card{
 width: 25%; 
}

.estilo-preco{
  color: green;
  font-weight: 800;
}