<div class="conteudo">
    <h1 class="titulo">Sobre Nós</h1>
    <div class="conteudo-sobre-nos">
        <div class="imagem">
            <img src="../../assets/imgs/livrariaCultura.png">
        </div>
        <div class="content-texto">
            <p class="texto">A Livraria Cultura Online oferece uma experiência dinâmica de compra de livros, desenvolvida com tecnologias modernas como Angular e Bootstrap. Com uma interface intuitiva, os usuários podem navegar por uma ampla seleção de obras e realizar suas compras de forma rápida e conveniente. Recursos como análises de usuários e recomendações personalizadas enriquecem a experiência do cliente. </p>
            <a (click)="voltarParaPaginaHome()" class="botaoDalaura">Home</a>
        </div>
    </div>
</div>
<app-footer class="footer"></app-footer>