<section class="col-sm-10 mx-auto m-5">
    <form>
        <div class="mb-3">
            <label for="TextInput" class="form-label">Nome</label>
            <input type="text" id="TextInput" class="form-control" placeholder="Nome">
        </div>
        <div class="mb-3">
            <label for="AutorInput" class="form-label">Autor</label>
            <input type="text" id="AutorInput" class="form-control" placeholder="Autor">
        </div>
        <div class="mb-3">
            <label for="EditoraInput" class="form-label">Editora</label>
            <input type="text" id="EditoraInput" class="form-control" placeholder="Editora">
        </div>
        <div class="mb-3">
            <label for="SinopseInput" class="form-label">Sinopse</label>
            <textarea id="SinopseInput" class="form-control" placeholder="Sinopse"></textarea>
        </div>
        <div class="mb-3">
            <label for="Categoria" class="form-label">Categoria</label>
            <select id="Categoria" class="form-select">
                <option>Suspense</option>
                <option>Romance</option>
                <option>Aventura</option>
                <option>Ficção</option>
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>